data/PropSchem.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="game">
    <xs:complexType>
      <xs:attribute type="xs:string" name="levelsUnlocked"/>
      <xs:attribute type="xs:string" name="money"/>
    </xs:complexType>
  </xs:element>
</xs:schema>